<button id="loadingBtn" class="btn btn-primary btn-block waves-effect z-depth-0" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    <span class="sr-only"></span>
    Loading...
</button>