<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/home">Simple Task Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="nav-link"><small><i class="fa fa-user-circle"></i> {{authUser}}</small></span>
            </li>
            <li class="nav-item">
                <a href="/sign-out" class="nav-link btn btn-sm bg-danger">Sign-out</a>
            </li>
            </ul>
        </div>
    </div>
</nav>          