<!DOCTYPE html>
<html lang="en">
<head>
    {{> _header}}
    <title>{{title}}</title>
</head>
    <body>
    {{> _navbar}}
        <div class="container">
            <div class="card mt-2 pt-2 pb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <img src="/img/code.svg" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-6 col-12">
                            <h1 class="display-4 title">About </h1>
                            <p class="font-weight-bold">Features: </p>
                            <ul>
                                <li>Authentication</li>
                                <li>Tasks can Create, edit, update, delete</li>
                                <li>Tasks is filtered per user</li>
                                <li>Export to CSV file</li>
                            </ul>

                            <p class="font-weight-bold mt-2">Technologies: </p>
                            <ul>
                                <li>Node (Express)</li>
                                <li>MongoDB (Mongoose)</li>
                                <li>JSON Web Token Authentication</li>
                                <li>Async Await, ES6 best practices</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{> _footer}}
    </body>
</html>