<!DOCTYPE html>
<html lang="en">
<head>
    {{> _header}}
    <title>Create Task</title>
</head>
<body>
  {{> _navbar}}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-6">
                <h4>Create Task</h4><hr/>
                <div id="errors"></div>
                <form>
                    <div class="form-group">
                        <label>Title:</label>
                        <input id="title" type="text" name="title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="desctiption">Description:</label>
                        <textarea id="description" name="description" rows="4" class="form-control"></textarea>
                    </div>
                    <button id="createTaskBtn" class="btn btn-primary">Create Task</button>
                </form>
            </div>
        </div>
    </div>
  {{> _footer}}
</body>
</html>