<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
    <title>{{title}}</title>
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h4 class="text-center text-primary">Welcome to Task Manager App</h4>
        <p class="text-center">Create your tasks here.</p>

      </div>
    </div>
  </div>

  {{> footer}}
</body>
</html>