<!DOCTYPE html>
<html lang="en">
<head>
    {{> _header}}
    <title>{{title}}</title>
</head>
<body>
  {{> _navbar}}
    <div class="jumbotron">
      <div class="container text-center">
        <h1 class="display-4">Simple Task Manager App</h1>
        <p class="w-50 m-auto">Welcome to a Simple Task Manager App, where you can manage your personal tasks.</p>
        <p><a class="btn btn-primary btn-lg " href="#" role="button">Get Started</a></p>
      </div>
    </div>

  {{> _footer}}
</body>
</html>