<!DOCTYPE html>
<html lang="en">
<head>
    {{> _header }}
    <title>{{ title }}</title>
</head>
  <body>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-5 col-10 form-m">
            {{> _messages}}
            <div class="card p-2 shadow-lg p-3 mb-5 bg-white rounded">
              <div class="card-body">
                <a href="/"><h4 class="text-center text-primary mb-5 title-tm"><strong>Simple Task Manager</strong></h4></a>
                <form class="text-center">
                  <div class="md-form">
                    <input type="email" id="email" name="email" class="form-control">
                    <label for="email">E-mail</label>
                  </div>
                  <div class="md-form">
                    <input type="password" name="password" id="password" class="form-control">
                    <label for="password">Password</label>
                  </div>
                  <div class="md-form">
                      <button id="signInBtn" type="submit" class="btn btn-primary btn-block waves-effect z-depth-0">Log in</button>
                      {{> _loading}}
                    <p><a href="/register" class="title-tm"> <strong>Create an account</strong></a></p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{> _footer}}
  </body>
</html>