html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f1f6f9;
}

.form-m {
  margin-top: 150px !important;
}

.email-error, .password-error, .signin-error {
  text-align: center;
  color: #F05454;
  font-weight: 600;
}

.user-home{
  margin-top: 150px !important;
}

